:root {
    --theme-col-one: #6BBD99;
    --theme-col-two: #707070;
    --theme-col-three: #4b886e;
    --main-font-family: 'Helvetica', Neue Regular;
    --main-font-color: var(--theme-col-two);
    --title-font-size: 5rem;
    --regular-font-size: 2rem;
    --button-font-size: 2rem;
    --button-vertical-padding: 1.5em;
    --button-horizontal-padding: 3em;
    --border-radius: .5em;
    --field-vertical-padding: .20em;
    --field-horizontal-padding: .75em;
}
body {
    font-family: var(--main-font-family);
}

h1{
    font-size: var(--title-font-size);
    letter-spacing: .3em;
    font-weight: 100;
    color: var(--main-font-color);
}

.logo{
    height: 6rem;
    width: 6rem;
    position: relative;
    right: 50rem;
    top: -10rem; 
}
